<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>772573940472-76lc8l7k121fmq2neq1jbjsnklvc6ve0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.772573940472-76lc8l7k121fmq2neq1jbjsnklvc6ve0</string>
	<key>API_KEY</key>
	<string>AIzaSyArvsaQ3_Mw2Trz8EzrX8Dj9fXO6VDi1Rs</string>
	<key>GCM_SENDER_ID</key>
	<string>772573940472</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.LiberoSpace.climb</string>
	<key>PROJECT_ID</key>
	<string>climb-ea0f4</string>
	<key>STORAGE_BUCKET</key>
	<string>climb-ea0f4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:772573940472:ios:4d9cc8d325a5997e8a890d</string>
</dict>
</plist>